
.baslik {
    font-size: 106px;
}

.yazi1 {
    font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

.yazi2 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.yazi2boyut {
    font-size: 24px;
}

.yanyana {
    letter-spacing: -0.05em;
}

